
###################### GoLang ###################

########### Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

########### Test binaries
*.test

########### Go coverage tool output (LiteIDE)
*.out

########### Vendor
vendor/*
!vendor/.gitkeep

########### Distribution
dist

########### Project specific
